<nav class="navbar topnavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="pull-left"><img src="/icons/simbolo_1dl_small.svg" style="max-width:30px; margin-left:30px"></a>
      <a class="navbar-brand nonSelectableText nome_principal">Controle de Produção 1ªDL</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" style="color: white"></span>
                        <strong style="color: white">{{ usuario.postGrad }} {{ usuario.nomeGuerra }}</strong>
                        <span class="glyphicon glyphicon-off" style="color: white"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ usuario.postGrad }} {{ usuario.nomeGuerra }}</strong></p>
                                        <p class="text-left small">{{ usuario.perfil }}</p>
                                        <p class="text-left">
                                            <a href="" class="btn btn-primary btn-block btn-sm">Perfil</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg"></li>
                        <li class="navbar-login-session-bg">
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a ng-click="logout()" href="" class="btn btn-danger btn-block">Sair</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
  </div>
</nav>
<div style="width:100%; height:90%;" class="row">
  <div id="aside">
    <div class="side-menu">
      <ul>
        <li ng-click="abaAtiva = 'atividades'" ng-show="acessa('atividades')">
          <a>
            <i class="glyphicon glyphicon-tasks glyphicon-menu"></i> Atividades
          </a>
        </li>
        <li ng-click="abaAtiva = 'relatorio_ind'"  ng-show="acessa('relatorio_ind')">
          <a>
            <i class="glyphicon glyphicon-stats glyphicon-menu"></i> Relatório Individual
          </a>
        </li>
        <li ng-click="abaAtiva = 'g_fluxo'"  ng-show="acessa('g_fluxo')">
          <a>
            <i class="glyphicon glyphicon-random glyphicon-menu"></i> Gerenciamento de Fluxo
          </a>
        </li>
        <li ng-click="abaAtiva = 'g_usuarios'"  ng-show="acessa('g_usuarios')">
          <a>
            <i class="glyphicon glyphicon-user glyphicon-menu"></i> Gerenciamento de Usuarios
          </a>
        </li>
        <li ng-click="abaAtiva = 'relatorio_geral'" ng-show="acessa('relatorio_geral')">
          <a>
            <i class="glyphicon glyphicon-stats glyphicon-menu"></i> Relatório Geral
          </a>
        </li>
        <li ng-click="abaAtiva = 'usuarios'" ng-show="acessa('usuarios')">
          <a>
            <i class="glyphicon glyphicon-user glyphicon-menu"></i> Usuários
          </a>
        </li>
        <li data-toggle="collapse" data-target="#projetomenu" class="collapsed" ng-show="acessa('projetos')" toggle-class="active">
          <a><i class="glyphicon glyphicon-list-alt glyphicon-menu"></i> Projetos <span class="glyphicon glyphicon-chevron-down" style="margin-left:8px;"></span></a>
        </li>
        <ul class="sub-menu collapse" id="projetomenu">
            <li ng-click="abaAtiva = 'projetos'"><a href="">Projetos</a></li>
            <li ng-click="abaAtiva = 'subprojetos'"><a href="">Subprojetos</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#sdtmenu" class="collapsed" ng-show="acessa('sdt')" toggle-class="active">
          <a><i class="glyphicon glyphicon-book glyphicon-menu"></i> SDT <span class="glyphicon glyphicon-chevron-down" style="margin-left:8px;"></span></a>
        </li>
        <ul class="sub-menu collapse" id="sdtmenu">
            <li ng-click="abaAtiva = 'fases'"><a href="">Fases</a></li>
            <li ng-click="abaAtiva = 'subfases'"><a href="">Subfases</a></li>
            <li ng-click="abaAtiva = 'secoes'"><a href="">Seções</a></li>
            <li ng-click="abaAtiva = 'funcoes'"><a href="">Funções</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
  <div class="main-area">
    <div class="content" ng-switch="abaAtiva" autoscroll="false" >
      <div ng-switch-when="atividades" ng-controller="atividadeCtrl"><div ng-include src = "'app/views/atividades.html'"></div></div>
       <div ng-switch-when="relatorio_ind" ng-controller="relatorioIndCtrl"><div ng-include src = "'app/views/relatorio_ind.html'"></div></div>
       <div ng-switch-when="g_fluxo" ng-controller="fluxoCtrl"><div ng-include src = "'app/views/g_fluxo.html'"></div></div>
       <div ng-switch-when="g_usuarios" ng-controller="gerenciaUserCtrl"><div ng-include src = "'app/views/g_usuarios.html'"></div></div>
       <div ng-switch-when="relatorio_geral" ng-controller="relatorioGeralCtrl"><div ng-include src = "'app/views/relatorio_geral.html'"></div></div>
       <div ng-switch-when="usuarios" ng-controller="usuarioCtrl"><div ng-include src = "'app/views/usuarios.html'"></div></div>
       <div ng-switch-when="projetos" ng-controller="projetoCtrl"><div ng-include src = "'app/views/projetos.html'"></div></div>
       <div ng-switch-when="subprojetos" ng-controller="projetoCtrl"><div ng-include src = "'app/views/subprojetos.html'"></div></div>
       <div ng-switch-when="sdt" ng-controller="sdtCtrl"><div ng-include src = "'app/views/sdt.html'"></div></div>
       <div ng-switch-when="fases" ng-controller="sdtCtrl"><div ng-include src = "'app/views/fases.html'"></div></div>
       <div ng-switch-when="subfases" ng-controller="sdtCtrl"><div ng-include src = "'app/views/subfases.html'"></div></div>
       <div ng-switch-when="secoes" ng-controller="sdtCtrl"><div ng-include src = "'app/views/secoes.html'"></div></div>
       <div ng-switch-when="funcoes" ng-controller="sdtCtrl"><div ng-include src = "'app/views/funcoes.html'"></div></div>

    </div>
  </div>
</div>
