<img src="icons/simbolo_1dl.svg" class="logo_1dl" />
<div class="login_1dl">
<div class="text-center">
	<div class="logo">Controle de Produção 1ªDL</div>
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Usuário</label>
						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="usuário" ng-model="info.login">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Senha</label>
						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="senha" ng-model="info.senha">
					</div>
				</div>
				<button type="submit" class="login-button" ng-click="login()"><i class="glyphicon glyphicon-chevron-right"></i></button>
			</div>
		</form>
	</div>
</div>
</div>
