<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Mapa de Situação">
    <div style="width:100%; height:100%">
    <div id='map' style="height:800px;" ng-init="loadMap()"></div>
  </div>
  </uib-tab>
  <uib-tab index="1" heading="Gráficos de Produção Geral" ng-click="loadChartTab()">
    <div class="row" style="margin-top:20px">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Vetorização</div>
          <div class="panel-body">
              <c3-simple id="chart1" config="chart1"></c3-simple>
          </div>
         </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Aquisição</div>
          <div class="panel-body">
              <c3-simple id="chart2" config="chart2"></c3-simple>
          </div>
         </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Validação</div>
          <div class="panel-body">
              <c3-simple id="chart3" config="chart3"></c3-simple>
          </div>
         </div>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Gráficos de Produção por Operador" ng-click="loadChartTab()">
    <div class="form-group" style="margin-top: 20px">
      <label class="control-label">Selecione um usuário</label>
      <select ng-model="usuarioSelecionado" ng-options="usuario.postoNome for usuario in usuarios" ng-change="updateUserGraph()"></select>
    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading text-center">{{selecionado? usuarioSelecionado.postoNome : "Selecione um usuário"}}</div>
          <div class="panel-body">
              <c3-simple id="chart4" config="chart4"></c3-simple>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Tempo em atividade administrativas</div>
          <div class="panel-body">
              <c3-simple id="chart5" config="chart5"></c3-simple>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
