html, body {
    height: 100%;
    width: 100%;
    background-color: #F5F7FA;
}

.pagination{
  width: auto;
  display: inline-block;
}

#side-menu{
/*    background-color: #23b744;*/
    border-radius: 10px;
    height: 700px;
    border: activeborder solid;
    border
}
    
div div ul li a {
    color: gray;
    font-size: 1.4em
   
}

div div ul li {
    height: 70px;
   
}

.modal-header {
    background-color: #23b744;
    color: white;
    text-align: center
        
}


div .panel .panel-heading {
    background-color: #23b744;
    color: white;
    text-align: center;
    font-size: 1.5em
}



/*ABA DE LOGOUT*/
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.icon-size
{
    font-size: 87px;
}


